# Predictions evaluation

**NOTEBOOK GOAL**: Evaluate the predicted NumberOfSales values according to the BIP provided error function.

Evaluation of the predictions from the datasets:

- [XGB1 fake test.csv](#XGB1_fake_test.csv)

In [1]:
from import_man import *
from BIP_error import get_BIP_error

### XGB1_fake_test.csv

In [2]:
XGB1 = pd.read_csv("dataset/XGB1_fake_test.csv")
XGB1.head()

,IsHoliday,HasPromotions,NearestCompetitor,Region,NumberOfSales,Region_AreaKM2,Region_GDP,Region_PopulationK,CloudCover,Max_Dew_PointC,...,t-8,t-6,t-15,t-21,t-13,t-20,MeanStoreSales,MeanRegionSales,D_Day_of_week,pred
0,0,0,326,7,8540.000000,9643,17130,2770,6.0,0,...,7675.446488,10650.000000,7675.446488,7368.0,10520.0,6858.0,7682.751625,4698.572717,0,9044.0240
1,0,0,326,7,10364.000000,9643,17130,2770,7.0,1,...,11881.000000,4498.000000,12353.000000,6858.0,9479.0,5890.0,7682.751625,4698.572717,1,7198.0293
2,0,0,326,7,4676.000000,9643,17130,2770,7.0,2,...,10650.000000,7675.446488,10520.000000,5890.0,10529.0,6913.0,7682.751625,4698.572717,2,5712.5654
3,1,0,326,7,7675.446488,9643,17130,2770,7.0,2,...,4498.000000,7675.446488,9479.000000,6913.0,9050.0,7282.0,7682.751625,4698.572717,3,6811.1934
4,0,0,326,7,6267.000000,9643,17130,2770,6.0,3,...,7675.446488,8930.000000,10529.000000,7282.0,9835.0,9179.0,7682.751625,4698.572717,4,7599.4424

In [3]:
# rename predicitons column in order to met requirements of get_BIP_error function
pprint(list(XGB1.columns))
XGB1['_NumberOfSales'] = XGB1['pred']
XGB1.drop(['pred'], axis=1)
XGB1.head()

['IsHoliday',
 'HasPromotions',
 'NearestCompetitor',
 'Region',
 'NumberOfSales',
 'Region_AreaKM2',
 'Region_GDP',
 'Region_PopulationK',
 'CloudCover',
 'Max_Dew_PointC',
 'Max_Humidity',
 'Max_Sea_Level_PressurehPa',
 'Max_TemperatureC',
 'Max_VisibilityKm',
 'Max_Wind_SpeedKm_h',
 'Mean_Dew_PointC',
 'Mean_Humidity',
 'Mean_Sea_Level_PressurehPa',
 'Mean_TemperatureC',
 'Mean_VisibilityKm',
 'Mean_Wind_SpeedKm_h',
 'Min_Dew_PointC',
 'Min_Humidity',
 'Min_Sea_Level_PressurehPa',
 'Min_TemperatureC',
 'Min_VisibilitykM',
 'Precipitationmm',
 'WindDirDegrees',
 'D_Day',
 'D_DayOfYear',
 'D_Month',
 'D_Year',
 't-14',
 't-7',
 't-1',
 't-2',
 't-9',
 't-8',
 't-6',
 't-15',
 't-21',
 't-13',
 't-20',
 'MeanStoreSales',
 'MeanRegionSales',
 'D_Day_of_week',
 'pred']

,IsHoliday,HasPromotions,NearestCompetitor,Region,NumberOfSales,Region_AreaKM2,Region_GDP,Region_PopulationK,CloudCover,Max_Dew_PointC,...,t-6,t-15,t-21,t-13,t-20,MeanStoreSales,MeanRegionSales,D_Day_of_week,pred,_NumberOfSales
0,0,0,326,7,8540.000000,9643,17130,2770,6.0,0,...,10650.000000,7675.446488,7368.0,10520.0,6858.0,7682.751625,4698.572717,0,9044.0240,9044.0240
1,0,0,326,7,10364.000000,9643,17130,2770,7.0,1,...,4498.000000,12353.000000,6858.0,9479.0,5890.0,7682.751625,4698.572717,1,7198.0293,7198.0293
2,0,0,326,7,4676.000000,9643,17130,2770,7.0,2,...,7675.446488,10520.000000,5890.0,10529.0,6913.0,7682.751625,4698.572717,2,5712.5654,5712.5654
3,1,0,326,7,7675.446488,9643,17130,2770,7.0,2,...,7675.446488,9479.000000,6913.0,9050.0,7282.0,7682.751625,4698.572717,3,6811.1934,6811.1934
4,0,0,326,7,6267.000000,9643,17130,2770,6.0,3,...,8930.000000,10529.000000,7282.0,9835.0,9179.0,7682.751625,4698.572717,4,7599.4424,7599.4424

In [4]:
error1 = get_BIP_error(XGB1)

Number of regions identified: 11
BIP total error: 0.10100010471457493